<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Cities list</title>
</head>

<body>

<h3>Cities List</h3>
<h5><a href="/create">Create new city</a></h5>
<div class="container list-group pr-5 pl-5 pb-5">
    <div th:each="city : ${cities}">
        <div  class="list-group-item list-group-item-action flex-column align-items-start " >

            <p class="mb-1">
            <table class="table table-borderless">

                <tbody>
                <tr>
                    <th scope="row" >ID </th>
                    <th scope="row" >City </th>
                    <th scope="row">Nation</th>
                    <th scope="row">Action</th>

                </tr>
                <tr>
                    <td th:text="${city.cityId}" ></td>
                    <td  >
                        <a th:href="@{/detail/__${city.cityId}__}" th:text="${city.name}"></a>
                    </td>
                    <td th:each="nation : ${nations}" th:if="(${nation.nationId} == ${city.nationId})">
                        <span th:text="${nation.nationName}"></span>

                    </td>
                    <td>
                        <a th:href="@{/edit/__${city.cityId}__}">Edit</a>
                        <a th:href="@{/delete/__${city.cityId}__}">Delete</a>
                    </td>
                </tr>

                </tbody>
            </table>
            </p>
        </div>

    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>